#wrapper {
    max-width: 1200px;
    
}

header{
    padding:2em;
    background-image:  url("x-files-banner.jpg");
background-repeat: no-repeat;
background-position: top right;
background: url("x-files-banner.jpg") no-repeat top right;
color: midnightblue;
}

.lead{
    width: 33%;
    color: #fff;
}
/*Navigation bar*/

nav li{
        display: inline-block;
        width: 15em;
        padding: 1em;
        margin-right: 2em;
        background-color: black;
        text-align: center;
}

nav a{
    color: azure;
    text-decoration: none;
    font-size: 2em;
}
nav{
    background-color: darkgrey;
    padding: 0.1em 0; 
}


