#wrapper {
    max-width: 1200px;
    
}

header{
    padding:2em;
background: url("x-files-banner.jpg") no-repeat top left;
color: midnightblue;
}

.lead{
    width: 33%;
    color: #fff;
}
/*Navigation bar*/

nav li{
        display: inline-block;
        width: 15em;
        padding: 1em;
        margin-right: 2em;
        background-color: black;
        text-align: center;
}

nav a{
    color: azure;
    text-decoration: none;
    font-size: 2em;
}
nav{
    background-color: darkgrey;
    padding: 0.1em 0; 
}
.col{
    float:left;
    width:48%;
    margin-right:2%;
    }
    
nav li:last-child{
    margin-right:0;
    
}


.episodes{
display: flex;
flex-wrap: wrap;
}
.card{width: 30%;}