*{
margin: 0;
padding: 0;
border: none;
}

body{
    margin: 0.5em;

display: flex;
justify-content: space-between;

}

p{
margin-bottom: 1em;
margin-top: 1em;
}

h1, h2, h3, strong{
font-weight: bold;
}

a{
color: cadetblue;

}
nav a{
    text-decoration: none;

}




.topNav nav{

clear: right; /* clears right floats */ 

}
#top-menu{ 
    display: none;
}


#menu{
float:right;

}
.programNav a{
display: block;
padding: 10px;
border:solid 1px #ccc;
}
.dropdown{
    display: none;
}
.programNav li:hover .dropdown{
    display: block;
}

.banner{
padding: 2em;
padding-top: 3em;

background-size:cover;
}


.topNav li{
    margin-bottom: 1em;
    border-bottom: solid 1px #ccc;  
.banner p{
background-color:azure;
font-size:1.5em;
padding:1em;

}

.btn{
display: block;
width:100px;
background-color:blue;
padding:0.5em;
text-transform:uppercase;
color: #fff;
}

width:100%;
}
.date{
    margin-top:.5em;
}
footer{
font-size: smaller;
}

@media (min-width:768px){
    main{
        display:grid;
        grid-template-columns: 1fr 300px;
        grid-gap: 1em;
    }

    .flex-container{
display: flex;
justify-content: space-between;
}
.program-select{
    width: 33%;
}
    
    .dropdown{
        position: absolute;
        background-color: #fff;
        width: 100%;
}


#top-menu{
    display: block;
}
#menu{
    display: none;
}

.topNav li, .topNav form, .topNav input{
    display: inline;
    margin-left:1em;
}

.topNav nav{
border:none;
float:right;
margin-right:0;
}


}/* closing media query */
